:root{
    --primary-color: #42473e;
    --secondary-color-dark: #8854f7;
    --secondary-color: #9D8DF1;
    --third-color: #f45b69;
    --third-color-dark: #c33c54;
    --shadow: #c0bebe;
}
