footer {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

footer #primer a{
    float: left;
    color: white;
}

footer #segon a{
    margin-left: 20px;
    color: white;
    float: right;
}

footer #segon a:hover {
    color: var(--secondary-color);
}